.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.card1 {
  height: 80px;
  width: 130px;
  border: 2px solid blue;
  color: red;
}

.card2 {
  border: 2px solid blue;
  height: 80px;
  width: 130px;
  color: red;
}

.card3 {
  border: 2px solid blue;
  height: 80px;
  width: 130px;
  color: red;
}

.card4 {
  border: 2px solid pink;
  height: 80px;
  width: 130px;
  color: red;
}