
$cardcolor:red;
$card2color:blue;
$card3color:pink;
@mixin cardproperty {
    height: 80px;
    width: 130px;
    border: 2px solid $card2color;
    color: $card2color;
} 




container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    
}
.card1{
   @include cardproperty;
  

}
.card2{
 
    @include cardproperty;

}
.card3{
   
   @include cardproperty;
    
    
   }
   .card4{
    @include cardproperty;
   
   

   }