$color_1:red;
$color_2:blue;
$color_3:green;
$color_4:black;
@mixin cardproperty($sachin:red) {
    height: 200px;
    width: 100px;
    border: 3px solid ;
    background-color: $sachin;
}
%raja{
    border-radius: 20px;
    color: white;
    padding: 20px;
}
@media screen and(max-width:200px){
     .card4{
        border-radius: 40px;
     }    
}

.container{
    border: 3px solid $color_1;
    display: flex;
    .card1{
        @include cardproperty(black);
        border: 3px solid color_2;
    
    }
    .card2{
        @include cardproperty($color_3);
        @extend %raja ;
        border: 3px solid color_3;
    
    }
    .card3{
        @include cardproperty;
        border: 3px solid green;
    
    }
    .card4{
        @include cardproperty;
        border: 3px solid green;
    
    }
    .card5{
        @include cardproperty;
        border: 3px solid green;
    
    }
    
}



