body{
    background-color: #008080;
 }
 #header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    color: #ffffff;
 }
 #fa i{
    padding: 0 12px;
 }
 #navbar li{
    list-style-type: none;
    float: left;
    color: #ffffff;
    padding: 0 17px;

 }
 p{
    color: yellow;
    line-height: 6;
 }